.nav.active {
  font-weight: bold;
  text-decoration: underline;
}

.add {
  background-color: green;
  color: black;
  text-decoration: dotted;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}