.barra-nav{
    background-color: gainsboro;
    padding: 0,5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    padding: 0,5rem;
    transition: color 0.2 ease;
}

.logo {
    width: 10rem;
    padding: 0,5rem;
    border-radius: 3rem;
}